---
layout: splash
title: Archive
entires_layout: grid
---

<!-- Begin List Posts
================================================== -->

<h3 class="archive__subtitle">Posts from {{ page.title }}</h3>

{% assign entries_layout = page.entries_layout | default: 'grid' %}
<div class="entries-{{ entries_layout }}">
    {% for post in site.posts %}
    
    {% assign postyear = post.date | date: "%Y" %}
    {% if postyear == page.year %}
    {% include archive-single.html type=entries_layout %}
    {% endif %}

    {% endfor %}

</div>
